extends layout

block content
  h1
    |Request Header Parser for FCC
  p
    |Navigate to #[a(target="_blank", href="https://fcc-request-header-parse.herokuapp.com/api/whoami")= "https://fcc-request-header-parse.herokuapp.com/api/whoami"] to see who you are!
