extends layout

block content
  h1
    |Request Header Parser for FCC
  p
    |Navigate to #[a(target="_blank", href="https://express-timestamp-fcc-rulib.c9users.io/api/whoami")= "https://express-timestamp-fcc-rulib.c9users.io/api/whoami"] to see who you are!
